body{
    font-family: 'EB Garamond', serif !important;
}

.banner-img{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-gradient{
    background-color: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%) !important;
}

.slider-img-1{
    background-image: url(../images/slider-1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: auto;
    /* filter: brightness(0.7); */
    
}


/* Login form styles */

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: whitesmoke;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}
