body{
    font-family: 'EB Garamond', serif !important;
}

.banner-img{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-gradient{
    background-color: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%) !important;
}